@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.section_first {
  margin: 0 auto;
  max-width: 1440px;
  background: url(./img/BG_Black_960\ 1.png) center center no-repeat;
}

.hamburger-menu {
  display: none;
}

.nav, ul {
  display: flex;
  justify-content: center;
}


li {
  list-style: none;
}

a {
  padding: 0 50px 0 50px;
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

}

.list-block {
  flex-wrap: nowrap;
  padding: 145px 70px 0 70px;
  text-align: center;
}

.image-block {
  display: flex;
  justify-content: center;
  text-align: center;
}

.main-menu {
  display: flex;
  padding-top: 120px; 
  flex-direction: row-reverse;
}

.main-menu img {
  float: right;
  padding: 0 150px 125px 0;
}

.main-menu p {
  width: 100%;
  max-height: 522px;
  padding: 0 0 125px 210px;
  font-family: Montserrat;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 185%;
}


.section_second {
  margin: 0 auto;
  max-width: 1440px;
  max-height: 960px;
  background: url(./img/Pattern_Black_960.png) top center no-repeat;
}

.section_second h1 {
  padding-top: 54px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.container {
  padding: 0 130px 0 130px;
}

.SectionProducts {
  display: flex;
  padding-top: 32px;
  justify-content: space-between;
  align-items: top;
  flex-wrap: wrap;
}

.products-item {
  margin-bottom: 20px;
  align-items: center;
  width: 280px;
  max-height: 446px;
  background-color: rgba(196, 196, 196, 0.25);
  border-radius: 20px;
}

.products-item p {
  text-align: left;
  padding: 0 15px 15px 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.products-item img {
  padding: 15px;
}

.section_third {
  margin: 0 auto;
  max-width: 1440px;
  background: url(./img/Pattern_Black_961.png) top center no-repeat;
}

.section_third h1 {
  padding-top: 132px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
}

.SectionBuying {
  display: flex;
  padding-top: 50px;
  padding-bottom: 64px;
  justify-content: space-between;
  align-items: top;
  flex-wrap: wrap;
}

.SectionBuying p {
  text-align: right;
  line-height: 219%;
  width: 545px;
  height: 330px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 219%;
}

.footer {
  max-width: 1440px;
  margin: 0 auto;
  background: url(./img/BG_Black12.png) center center no-repeat;
}

.footer h1 {
  padding-top: 25px;
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: white;
}

.section_footer {
  display: flex;
  justify-content: center;
  text-align: center;
}

.section_footer img {
  padding-top: 30px;
}

.blockTextF, .blockTextS {
  display: flex;
  padding-top: 25px;
  justify-content: center;
  flex-wrap: wrap;
}
.blockTextF, .blockTextS p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.blockTextS {
  padding-bottom: 20px;
}

.blockTextF p {
  padding: 0 50px 0 50px ;
}

@media screen and (max-width: 1400px) {
  .section_first {
    width: 768px;
    max-height: 526px;
    background: url(./img/BG_Black_960\ 1.png) center center no-repeat;
    background-size: contain;
  }
  
  a {
    padding: 0 25px 0 25px;
    font-size: 12px;
    line-height: 15px;
  
  }
  
  .list-block {
    padding: 80px 15px 0 15px;
  }
  
  .image-block img{
    padding-top: 15px;
    width: 50%;
  }
  
  .main-menu {
    padding-top: 35px; 
  }
  
  .main-menu img {
    padding: 0 70px 80px 0;
    width: 40%;
  }
  
  .main-menu p {
    padding: 0 0 62px 100px;
    font-weight: 500;
    font-size: 12px;
    line-height: 164%;
  }

  .section_second {
    width: 768px;
    max-height: 526px;
    background: url(./img/Pattern_Black_960.png) top center repeat;
    background-size: contain;
  }
  
  .section_second h1 {
    padding-top: 24px;
    font-size: 16px;
    line-height: 20px;
  }
  
  .container {
    padding: 0 34px 0 34px;
  }
  
  .SectionProducts {
    padding-top: 31px;
  }
  
  .products-item {
    margin-bottom: 18px;
    width: 160px;
    max-height: 300px;
    background-color: rgba(196, 196, 196, 0.25);
    border-radius: 10px;
  }
  
  .products-item p {
    padding: 0 10px 10px 10px;
    font-size: 9px;
    line-height: 10.5px;
  }
  
  .products-item img {
    padding: 10px;
    width: 90%
  }
  
  .section_third {
    width: 768px;
    max-height: 526px;
    background: url(./img/Pattern_Black_961.png) top center no-repeat;
    background-size: contain;
  }
  
  .section_third h1 {
    padding-top: 199px;
    font-size: 16px;
    line-height: 20px;
  }
  
  .SectionBuying {
    padding-top: 20px;
    padding-bottom: 40px;
    flex-wrap: nowrap;
  }
  
  .SectionBuying p {
    max-width: 317px;
    max-height: 193px;
    font-size: 12px;
    line-height: 21px;
  }

  .map img {
    width: 92%;
    padding-top: 5px;
    padding-left: 35px;
  }
  
  .footer {
    width: 768px;
    max-height: 526px;
    background: url(./img/BG_Black12.png) top center repeat;
    background-size: contain;
  }
  
  .footer h1 {
    padding-top: 10px;
    font-size: 16px;
    line-height: 20px;
  }
  
  .section_footer img {
    padding-top: 10px;
    width: 6%;
  }

  .blockTextF, .blockTextS {
    padding: 5px 0 10px ;

  }
  .blockTextF, .blockTextS p {
    padding-top: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
  }
  
  .blockTextF p {
    padding: 0 20px 0 20px ;
  }
}

@media screen and (max-width: 760px) {
  .section_first {
    max-width: 414px;
    min-height: 890px;
    background: url(./img/BG_Black_960\ 1.png) top center repeat;
    background-size: unset;
  }
  .nav {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }

  #menu__toggle {
    opacity: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top:4px;
    left: 375px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: 100%;
    width: 410px;
    height: 130px;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
    background: url(./img/BG_Black_410.png) top center no-repeat;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
  }

  .menu__item {
    display: block;
    padding: 8px 22px;
    font-family: Montserrat;
    color: rgb(255, 255, 255);
    border-bottom: white solid 1px;

    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #b1bcc0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}



  .image-block img {
    display: block;
    width: 20%;
  }
  
  
  
  .main-menu {
    max-width: 414px;
    padding-top: 10px; 
  }
  
  .main-menu img {
    width: 60%;
    padding: 0;

  }
  
  .main-menu p {
    padding: 20px;
    text-align: left;
    font-size: 18px;
    line-height: 30px;
  }
  
  
  .section_second {
    max-width: 414px;
    min-height: 3759px;
    background: url(./img/Pattern_Black_960.png) top center repeat;
  }
  
  .section_second h1 {
    padding-top: 18px;
    text-align: center;
    font-size: 18px;
    line-height: 22px;
  }
  
  .container {
    padding: 0 67px 0 67px;
  }
  
  .SectionProducts {
    padding-top: 18px;
  }
  
  .products-item {
    min-width: 280px;
    max-height: 446px;
  }

  .products-item p {
    text-align: left;
    padding: 0 15px 15px 15px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
  }
  
  .products-item img {
    padding: 15px;
  }
  
  .section_third {
    max-width: 414px;
    min-height: 550px;
    background: url(./img/Pattern_Black_961.png) top center no-repeat;
  }
  
  .section_third h1 {
    padding-top: 0;
  }
  
  .SectionBuying {
    
    display: flex;
    padding-bottom: 0px;
    flex-direction: column-reverse;
    flex-wrap: wrap;
  }
  
  .map img {
    padding: 0;
    width: 100%;
  }

  .SectionBuying p {
    padding: 0;
    padding-top: 18px;
    text-align: center;
    line-height: 219%;
    text-align: left;
    width: 278px;
    height: 220px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
  }
  
  .footer {
    max-width: 414px;
    max-height: 550px;
    background: url(./img/BG_Black12.png) top center no-repeat;
  }
  
  .footer h1 {
    padding-top: 10px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: white;
  }
  
  .section_footer {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .section_footer img {
    padding-top: 30px;
    width: 15%;
  }
  
  .blockTextF, .blockTextS {
    display: flex;
    padding-top: 10px;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .blockTextF, .blockTextS p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
  }
  
  .blockTextS {
    padding-bottom: 20px;
  }
  
  .blockTextF p {
    padding: 0 50px 0 50px ;
  }

  @media screen and (max-width: 400px) {
    .section_first {
      max-width: 322px;
      min-height: 660px;
      background: url(./img/BG_Black_960\ 1.png) top center repeat;
      background-size: unset;
    }
    .nav {
      display: none;
    }
  
    .hamburger-menu {
      display: block;
    }
  
    #menu__toggle {
      opacity: 0;
    }
    .menu__btn {
      display: flex;
      align-items: center;
      position: fixed;
      top: 4px;
      left: 290px;
      width: 26px;
      height: 26px;
      cursor: pointer;
      z-index: 1;
    }
  
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
      transition-duration: .25s;
    }
    .menu__btn > span::before {
      content: '';
      top: -8px;
    }
    .menu__btn > span::after {
      content: '';
      top: 8px;
    }
  
    .menu__box {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      left: 100%;
      width: 410px;
      height: 130px;
      margin: 0;
      padding: 5px 0;
      list-style: none;
      text-align: left;
      background: url(./img/BG_Black_410.png) top center no-repeat;
      box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      transition-duration: .25s;
    }
  
    .menu__item {
      display: block;
      padding: 8px 22px;
      font-family: Montserrat;
      color: rgb(255, 255, 255);
      border-bottom: white solid 1px;
  
      font-size: 14px;
      font-weight: 500;
      text-decoration: none;
      transition-duration: .25s;
    }
    .menu__item:hover {
      background-color: #b1bcc0;
    }
  
    #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  
  
    .image-block img {
      display: block;
      width: 20%;
    }
    
    
    
    .main-menu {
      max-width: 360px;
      padding-top: 10px; 
    }
    
    .main-menu img {
      padding: 0;
      width: 50%;
    }
    
    .main-menu p {
      padding: 20px;
      text-align: left;
      font-size: 12px;
      line-height: 20px;
    }
    
    
    .section_second {
      max-width: 322px;
      max-height: 3730px;
      background: url(./img/Pattern_Black_960.png) top center repeat;
    }
    
    .section_second h1 {
      padding-top: 18px;
      text-align: center;
      font-size: 18px;
      line-height: 22px;
    }
    
    .container {
      padding: 0 20px 0 20px;
    }
    
    .SectionProducts {
      padding-top: 18px;
    }
    
    .products-item {
      min-width: 280px;
      max-height: 446px;
    }
  
    .products-item p {
      text-align: left;
      padding: 0 15px 15px 15px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
    }
    
    .products-item img {
      padding: 15px;
    }
    
    .section_third {
      max-width: 322px;
      max-height: 550px;
      background: url(./img/Pattern_Black_961.png) top center no-repeat;
    }
    
    .section_third h1 {
      padding-top: 18px;
      text-align: center;
    }
    
    .SectionBuying {
      display: flex;
      padding-top: 18px;
      padding-bottom: 22px;
      flex-direction: column-reverse;
      flex-wrap: wrap;
    }
    
    .map img {
      padding: 0;
      width: 100%;
    }
  
    .SectionBuying p {
      padding: 0;
      padding-top: 18px;
      text-align: center;
      line-height: 219%;
      width: 278px;
      height: 220px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 140%;
    }
    
    .footer {
      max-width: 322px;
      min-height: 200px;
      background: url(./img/BG_Black12.png) top center no-repeat;
    }
    
    .footer h1 {
      text-align: center;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 22px;
      color: white;
    }
    
    .section_footer {
      display: flex;
      justify-content: center;
      text-align: center;
    }
    
    .section_footer img {
      padding-top: 18px;
      width: 15%;
    }
    
    .blockTextF, .blockTextS {
      display: flex;
      padding-top: 10px;
      justify-content: center;
      flex-wrap: nowrap;
    }
    .blockTextF, .blockTextS p {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 13px;
      line-height: 17px;
      text-align: center;
      color: #FFFFFF;
    }
    
    .blockTextS {
      padding-bottom: 20px;
    }
    
    .blockTextF p {
      padding: 0 10px;
    }

  }
}
